In [5]:
import pandas as pd
import numpy as np

In [ ]:
# 실습 데이터 생성
data = {
    '이름' : ['철수', '영희', '민수', '지영', '동수'],
    '학년' : [1, 2, 1, 3, 2],
    '성별' : ['남', '여', '남', '여', '남'],
    '국어' : [90, 80, 85, 95, np.nan], # np.nan => 결측치(데이터 없음)
    '영어' : [85, 90, 80, 95, 70],
    '수학' : [100, 88, 92, 85, 60]
}
df = pd.DataFrame(data)
df.to_csv('students.csv', index=False)
# print("실습 데이터 생성!")

In [ ]:
# 실습파일 불러오기
df = pd.read_csv('students.csv')

# 데이터가 들어왔는지 확인하기 위해서 상위 3줄만 보기
display(df.head(3))

# 데이터 구조 확인
print(df.info())

# 데이터 통계(평균, 최대, 최소)
display(df.describe())

In [ ]:
# 열 선택 => 국어 점수만 보기
# display(df[['이름', '국어']])

# 행 선택 이름으로 찾기
# 0번째 행의 이름과 수학
# print(df.loc[0, ['이름', '수학']])

# 행 선택 번호로 찾기
# 2번째 행, 모든 열
# print(df.iloc[2, :])

# 조건 필터링 : 국어 점수가 90점 이상인 학생
# high_score = df[df['국어'] >= 90]
# display(high_score)

# 복합 조건 학년이 1학년 이면서 수학이 90점 초과 (AND)
# condition = (df['학년'] == 1) & (df['수학'] > 90)
# display(df[condition])

   이름  학년 성별    국어  영어   수학
0  철수   1  남  90.0  85  100
2  민수   1  남  85.0  80   92